/**
 * SAINTS BLUE: 	#003366
 * BLUE:					#1578C1
 * WHITE: 				#FFFFFF
 * GOLD:					#F4BB33
 * CHARCOAL				*444444
 */


.saints-blue	{ background-color: #003366; }
.blue 				{ background-color: #1578c1; }
.white 				{ background-color: #ffffff; }
.gold 				{ background-color: #f4bb33; }
.charcoal 		{ background-color: #444444; }


.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
    color: #fff;
    background-color: #444444;
}

.nav-pills .nav-link.active:hover, .show > .nav-pills .nav-link:hover {
	background-color: #1578C1;
}
