/**
 * SAINTS BLUE: 	#003366
 * BLUE:					#1578C1
 * WHITE: 				#FFFFFF
 * GOLD:					#F4BB33
 * CHARCOAL				*444444
 */


.saints-blue			{ color: #003366; }
.saints-blue-bg		{ background-color: #003366; }
.blue 						{ color: #1578c1; }
.blue-bg 					{ background-color: #1578c1; }
.white 						{ color: #ffffff; }
.white-bg 				{ background-color: #ffffff; }
.gold 						{ color: #f4bb33; }
.gold-bg 					{ background-color: #f4bb33; }
.charcoal		 			{ color: #444444; }
.charcoal-bg 			{ background-color: #444444; }


.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
    color: #fff;
    background-color: #1578c1;
}

.nav-pills .nav-link.active:hover, .show > .nav-pills .nav-link:hover {
	background-color: #003366;
}
